<!DOCTYPE html>
<html>
<head>
	<title>Contact | Simple HTML template</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Simple HTML template</h1>
		</div>

		<div id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="contact.html" class="active">Contact</a></li>
			</ul>
		</div>
		<div id="main">
			<h1>Contact</h1>
			<form>
				<div>
					<label>Name</label><br>
					<input type="text" name="name">
				</div>
				<div>
					<label>Email</label><br>
					<input type="text" name="email">
				</div>
				<div>
					<label>Message</label><br>
					<textarea name="message"></textarea>
				</div>
				<button type="submit">Send</button>
			</form>
		</div>

		<div id="sidebar">
			<h3>Sidebar</h3>
			<p>
				This is a sidebar
			</p>
		</div>

		<div class="clr"></div>
		<div id="footer">
			<p>Copyright &copy; 2018</p>
		</div>
	</div>
</body>
</html>